# Importing libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# Importing dataframes

In [2]:
# Create a path variable
path = r'C:\Users\Aaron\CareerFoundry\Instacart Basket Analysis'

### #3 Importing orders_products_combined dataframe

In [3]:
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Checking our new df_ords_prods_combined dataframe
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.0,196,1,0,both
1,2539329,1,1,2,8,11.0,14084,2,0,both
2,2539329,1,1,2,8,11.0,12427,3,0,both
3,2539329,1,1,2,8,11.0,26088,4,0,both
4,2539329,1,1,2,8,11.0,26405,5,0,both

### #4 Checking the shape of the imported data

In [5]:
df_ords_prods_combined.shape

(32434489, 10)

Same shape as the original!

### #5 Combine orders_products_combined dataframe with products data set

Let's first import the products data set and turn it into a dataframe.

My most current version of the products data set is called "products_consistency_checked.csv"

In [10]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_consistency_checked.csv'), index_col = [0])

In [11]:
# Check out df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

##### We can see that both df_prods and df_ords_prods_combined have 'product_id' as a common column.

##### If I want to keep everything from both data frames, I'll use the merge function along with 'how = outer' to keep all original columns

In [17]:
# Merging df_ords_prods_combined and df_prods dataframes
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', how = 'outer')

In [18]:
# Checking the new df_large_ords_prods_combined
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329.0,1.0,1.0,2.0,8.0,11.0,196,1.0,0.0,both,Soda,77.0,7.0,9.0
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0

### #6 Confirm the results of the merge using the merge flag

In [19]:
df_ords_prods_merged['_merge'].value_counts()

both          32435059
right_only           0
left_only            0
Name: _merge, dtype: int64

Everything looks good!!

### #7 Export the newly created dataframe as orders_products_merged

In [20]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))