# Importing Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

# Importing Data Frames

In [2]:
# Create a variable for path
path = r'C:\Users\Aaron\CareerFoundry\Instacart Basket Analysis'

##### Import df_ords_prior.csv

In [4]:
# Import df_ords_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [5]:
# Checking df_ords_prior.csv
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

##### Import the most up to date versioin of df_ords from Prepared Data folder

In [14]:
# Import df_ords
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_consistency_checked.csv'), index_col = False)

In [12]:
# Checking df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
0,0,2539329,1,1,2,8,11.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [15]:
# Remove Unnamed:0 column
# I tried to do the steps provided in "Extra Tip" section of Task 4.5 evaluation; however, I was still met with error messages.
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [16]:
# Checking our work
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
0,2539329,1,1,2,8,11.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

##### Running shape checks for btoh df_ords_prior and df_ords

In [17]:
df_ords_prior.shape

(32434489, 4)

In [18]:
df_ords.shape

(3421083, 6)

### Merging df_ords_prior with df_ords

In [19]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [20]:
# Checking the new df_merged_large
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.0,196,1,0,both
1,2539329,1,1,2,8,11.0,14084,2,0,both
2,2539329,1,1,2,8,11.0,12427,3,0,both
3,2539329,1,1,2,8,11.0,26088,4,0,both
4,2539329,1,1,2,8,11.0,26405,5,0,both

In [21]:
# Checking to see if we have a full match or not using .value_counts()
df_merged_large['_merge'].value_counts()

both          32434489
right_only           0
left_only            0
Name: _merge, dtype: int64

#### Using the how = 'outer' parameter to do an outer join

In [23]:
# The above result is incorrect because we did the merge with the default option of inner join, meaning the dataframes only
    # merged with observations that are contained in BOTH dataframes

# To check for full match, use how = 'outer' to do an outer join of the merged dataframes
df_merged_large_outer = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')

In [24]:
# Check the new df_merged_large_outer
df_merged_large_outer

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.0,196.0,1.0,0.0,both
1,2539329,1,1,2,8,11.0,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,11.0,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,11.0,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,11.0,26405.0,5.0,0.0,both
...,...,...,...,...,...,...,...,...,...,...
32640693,2977660,206209,13,1,12,7.0,38730.0,6.0,0.0,both
32640694,2977660,206209,13,1,12,7.0,31477.0,7.0,0.0,both
32640695,2977660,206209,13,1,12,7.0,6567.0,8.0,0.0,both
32640696,2977660,206209,13,1,12,7.0,22920.0,9.0,0.0,both
32640697,272231,206209,14,6,14,30.0,NaN,NaN,NaN,left_only

In [25]:
# Checking to see if we have a full match or not using .value_counts()
df_merged_large_outer['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

This shows that we truly don't have a full match.

## Exporting Data

In [27]:
# Export df_merged_large to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))